
<!-- postコントローラのサイドバーの部分テンプレート-->

<!-- サイドバー部分 -->
<div class="col-xs-3">
  <!-- 人気の募集部分 -->
  <table class="table">
    <thead class="thead-dark">
      <tr class="d-flex">
        <th class="col-xs-8"><h3>人気の募集</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td>いいね機能実装時に記述</td>
      </tr>
    </tbody>
  </table>
  <!-- 人気の募集部分ここまで -->
  <!-- 人気のタグ部分 -->
  <table class="table">
    <thead class="thead-dark">
      <tr class="d-flex">
        <th class="col-xs-8"><h3>人気のタグ</h3></th>
      </tr>
    </thead>
    <tbody>
        <tr class="d-flex">
          <td>
            <% @hotTags.each do |hotTag|%>
            <div class="post-hotTags">
              <%= hotTag.name %>
            </div>
            <% end %>
          </td>
        </tr>
    </tbody>
  </table>
  <!-- 人気のタグ部分ここまで -->
  <!-- あなたへのおすすめ部分 -->
  <table class="table">
    <thead class="thead-dark">
      <tr class="d-flex">
        <th class="col-xs-8"><h3>あなたへのおすすめ</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td>おすすめ機能実装時に記述</td>
      </tr>
    </tbody>
  </table>
  <!-- あなたへのおすすめ部分ここまで -->
</div>
<!-- サイドバー部分ここまで -->
