<div class="container"> <!-- ここを追加 -->
  <div class="row">     <!-- ここを追加 -->
    <div class="col-xs-12">
      <div class="nav-sub">
        <div class="about-us">
          Muic Ciecle へようこそ！<br>
          気軽に音楽仲間を見つけて交流できるサイトです！<br>
          まずは気軽に「気になる」ボタンを押して交流してみましょう！
        </div>
      </div>
      <!-- 新規投稿ボタン -->
      <div class="post-create-btn">
        <%= link_to "新規募集投稿", new_public_post_path, class:"btn btn-primary py-0"%>
      </div>
      <!-- 新規投稿ボタンここまで -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <th>2</th>
          </tr>
        </tbody>
        </table>
    </div>
  </div>   <!-- ここを追加 -->
</div>      <!-- ここを追加 -->
