// Place all the styles related to the public/concerns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.non-concern {
	color: gray;
  font-size: 25px;
}

.concern {
	color: #FF4477;
  font-size: 25px;
}
