// Place all the styles related to the public/endusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.enduser-show-myimage {
  border-radius: 100px;
}

.enduser-show-icon {
  margin-right: 20px;
  font-size: 20px;
  color: gray;
}

.nonactive {
  display: none;
}

.enduser-option-btn {
  margin-top: 20px
}

.option-btn {
  margin-top: 10px;
}

.enduser-unreadNotification{
  color: #fff;
  background-color:#FA4F4F;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: table;
  vertical-align: middle;
  border-radius: 50%;
}
