// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// post共通部分
.line-height-l{
  line-height: 80px;
}

.line-height-m{
  line-height: 30px;
}

.bg-lightblue{
  background-color: #f6fffe
}

.bg-lightgray {
  background-color: #f8f9fa;
}

// post共通部分ここまで

// index アクション部分
.about-us {
  padding: 20px 0;
  text-align: left;
  display: inline-block;
}

.post-create-btn {
  margin: 100px 0;
  text-align: center;
  display: block;
}

// .post-main-container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width:100%;
// }

// .post-box {
//   position: relative;
//   width: 80%;
//   height: 200px;
//   margin-left: 40px;
//   margin-bottom: 60px;
//   padding: 10px;
//   border-bottom: 1px solid;
// }

.post-title {
}

.post-valid {
}

.post-tag {
  padding-bottom: 15px;
}

.post-tag li {
  background-color: #348498;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 6px;
  border-radius: 10px;
}

// indexアクション部分ここまで
// sidebar部分
.post-hotTags{
  background-color: #348498;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
}


// sidebar部分ここまで
// newアクション部分
.input-mysize-l {
  width: 400px;
  height: 50px;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 0 5px;
}

.input-mysize-message {
  width: 80%;
  height: 150px;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 8px 5px;
}

.tag-list {
  margin-bottom: 10px;
}

.tag-list-items {
  background-color: #348498;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 6px;
  margin-right: 10px;
  border-radius: 10px;
}

.tag-notice {
  color: #757575;
  padding: 5px 0;
  font-size: 11px;
}

.tag-notice-hide {
  display: none;
}

.tag-info {
  color: #757575;
  padding: 5px 0;
}

.tag-form {
  display: none;
}
// newアクション部分ここまで

// showアクション部分
.post-show-navItems{
  margin-right: 5px;
  padding-bottom: 10px;
}

.post-show-navItem{
  margin-top: 15px;
  background-color: white;
}

.post-infobox-show{
  width: 80%;
  border: 1px solid;
  padding: 40px;
  border-radius: 10px;
}

.post-show-dmBtn{
  color: gray;
}
// showアクション部分ここまで
