// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index アクション部分
.about-us {
  padding: 20px 0;
  text-align: left;
  display: inline-block;
}
// indexアクション部分ここまで

.post-create-btn {
  margin: 100px 0;
  text-align: center;
  display: block;
}
