// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// post共通部分
.line-height-l{
  line-height: 80px;
}

.line-height-m{
  line-height: 30px;
}
// post共通部分ここまで

// index アクション部分
.about-us {
  padding: 20px 0;
  text-align: left;
  display: inline-block;
}

.post-create-btn {
  margin: 100px 0;
  text-align: center;
  display: block;
}

// .post-main-container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width:100%;
// }

// .post-box {
//   position: relative;
//   width: 80%;
//   height: 200px;
//   margin-left: 40px;
//   margin-bottom: 60px;
//   padding: 10px;
//   border-bottom: 1px solid;
// }

.post-title {
}

.post-valid {
}

// indexアクション部分ここまで
// newアクション部分
.input-mysize-md {
  width: 200px;
  height: 40px;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 0 5px;
}

.input-mysize-message {
  width: 80%;
  height: 150px;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 8px 5px;
}
// newアクション部分ここまで

// showアクション部分



.post-infobox-show{
  width: 80%;
  background-color: silver;
  padding: 40px;
  border-radius: 10px;
}

// showアクション部分ここまで
