<!-- バッチ種類一覧部分 -->
<table class="table">
  <caption>バッチリスト</caption>
  <tr>
    <th class="col-xs-2">バッチ種類</th>
    <th class="col-xs-6">概要</th>
    <th class="col-xs-2">自動実行(月一回/切替機能未実装のため常にON)</th>
    <th class="col-xs-2">今すぐ実行</th></tr>
  <tr>
    <td>ユーザーのスコア付け</td>
    <td>直近一週間の投稿内容に応じて、ユーザーごとに投稿の安全度のスコア付けを行います。マナー違反のユーザーがいるか調査することができます。</td>
    <td><input type="checkbox" checked data-toggle="toggle"></td>
    <td><%= link_to "バッチ実行", admins_batches_score_path, class: "btn btn-info", data: { confirm: 'バッチ処理を行います。少し時間がかかりますがよろしいですか？' } %></td>
  </tr>
  <tr>
    <td>Twitterレポートの作成</td>
    <td>
      ハッシュタグ「#MusicCircle」を検索して得られた直近一週間のツイート文を使用して、ツイート文の好感度や、関連度の高い単語の調査を行います。
      新サービスを考える際の、ユーザーの満足度や関心事項について調べることができます。
    </td>
    <td><input type="checkbox" checked data-toggle="toggle"></td>
    <td><%= link_to "バッチ実行", admins_batches_entities_path, class: "btn btn-info", data: { confirm: 'バッチ処理を行います。少し時間がかかりますがよろしいですか？' } %></td>
  </tr>
  <tr></tr>
</table>
<!-- バッチ種類一覧部分ここまで -->
